.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #3b3a3a;
    border: 1px solid #1BFD9C;
}
.wrapper h1 {
    font-size: 52px;
    color: #ea5358;

}